{% extends "realtime/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block head_resources %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}
  <link rel="stylesheet" href="{% static 'realtime/css/MarkerCluster.css' %}"/>
  <link rel="stylesheet" href="{% static 'realtime/css/MarkerCluster.user-map.css' %}"/>
  <link rel="stylesheet" href="{% static 'realtime/css/jquery.dynatable.css' %}"/>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'realtime/css/MarkerCluster.user-map.ie.css' %}" />
  <![endif]-->
  <script language="javascript" type="text/javascript" src="{% static 'realtime/js/leaflet.markercluster-src.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'realtime/js/user-map.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'realtime/js/realtime.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'realtime/js/jquery.dynatable.js' %}"></script>
{% endblock head_resources %}

{% block main_content %}
  <!-- Leaflet Map div -->
  {% leaflet_map "map" %}
  <script id="legend" type="text/template">
      <h4>Legend</h4>
          <img height='30' width='20' src='{% static 'realtime/img/earthquake.png' %}'>Earthquake<br>
  </script>
{% endblock main_content %}

{% block filter_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search Filters</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
          <input id="realtime-filter-minimum-magnitude" type="search" class="form-control" placeholder="Minimum Magnitude ..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
    </div>
</div>
{% endblock filter_content %}

{% block js_container %}
  <script type="text/javascript">
      var map, base_map, data_privacy_content, data_privacy_control,
              user_menu_control;
    var is_authenticated = '{{ user.is_authenticated }}' == 'True';

    //Initialize Basemap Layer
    base_map = createBasemap(
        '{{ leaflet_tiles.url }}',
        '{{ leaflet_tiles.attribution | safe }}');

    //Create Map with prepared base_map
    map = L.map('map', {
      layers: [base_map]
    });
    map.fitWorld().zoomIn();

    // Create Data Privacy Control
    data_privacy_control = createDataPrivacyControl();
    map.addControl(new data_privacy_control);

    // Create User Menu Control and add some tooltips
    var user_menu = (is_authenticated? ['edit', 'delete', 'download'] : ['add', 'download', 'forgot']);
    user_menu_control = createUserMenuControl(user_menu);
    map.addControl(new user_menu_control);
    $(".user-menu-control").tooltip({placement: 'right', container: 'body'});

    // Create Legend Control:
    legend_control = createLegendControl();
    map.addControl(new legend_control);

    //url to get json of events
    var get_events_url = '{% url "realtime:earthquake_feature_list" %}';

    var class_name = 'marker-cluster marker-cluster-project' + 1;
    markers = new L.markerClusterGroup({
       iconCreateFunction: (function(class_name) {
           return function (cluster) {
             return L.divIcon({
               html: '<div><span>' + cluster.getChildCount() + '</span></div>',
               className:class_name,
               iconSize: L.point(40, 40)});
           }
       })(class_name)
       });

    project_icon_path = "{% static 'realtime/img/earthquake.png' %}";
    project_shadow_icon_path = "{% static  'realtime/img/earthquake-shadow.png' %}";
    earthquakeIcon = createIconMarker(
            project_icon_path, project_shadow_icon_path);
    var jsonTableContents = [];
    var eventTable = null;
    var search_results = null;
    var events = null;
    function getEarthquakeEventsJson(event_json)
      {
          events = event_json;
          for (var i = 0; i < event_json.features.length; ++i) {
              L.geoJson(event_json.features[i], {
                  onEachFeature: onEachFeature,
                  pointToLayer: function (feature, latlng) {
                      return L.marker(latlng, {icon: earthquakeIcon});
                  }
              }).addTo(markers);
          jsonTableContents[i] = event_json.features[i].properties;
          }
          map.addLayer(markers);
          eventTable = $('#realtime-table').dynatable({
              table:{defaultColumnIdStyle: 'underscore'},
              dataset: {records: jsonTableContents},
              inputs: {queries: $('#min-magnitude')}})
                  .bind('dynatable:init', minMagSearch)
                  .bind('dynatable:afterProcess', updateMap);

      }

    //WIP: hook custom query function into functions of dynatable
      // will need four filters according to moqups page
    function minMagSearch(){
        eventTable.data().dynatable.queries.functions['min-magnitude'] = function(record, queryValue) {
        return parseFloat(record.magnitude.replace(/,/,'')) >= parseFloat(queryValue);
        }
    }

    //WIP: fire off search through dynatable
      $('#realtime-filter-minimum-magnitude').change( function() {
          console.log('boo');
          var value = $(this).val();
          console.log(value)
          if (value === "") {
              eventTable.data().dynatable.queries.remove("min-magnitude");
          } else {
              eventTable.data().dynatable.queries.add("min-magnitude",value);
          }
          eventTable.data().dynatable.process();
      });

    function onEachFeature(feature, layer)
      {
        // Set the popup content if it does have the content
        if (feature.properties && feature.properties.popupContent) {
          layer.bindPopup(feature.properties.popupContent);
        }
      }
    // update map markers to represent table contents.
    function updateMap(){
        //clear map
         markers.clearLayers();
         search_results = eventTable.data().dynatable.records.getFromTable();
         for (var i = 0; i < search_results.length; ++i) {
             for (var j = 0; j < events.features.length; ++j) {
                 if (events.features[j].properties.shake_id == search_results[i].shake_id) {
                     L.geoJson(events.features[i], {
                         onEachFeature: onEachFeature,
                         pointToLayer: function (feature, latlng) {
                             return L.marker(latlng, {icon: earthquakeIcon});
                         }
                     }).addTo(markers);
                 }
             }
         }
         map.addLayer(markers);
     }

    $(document).ready( function() {
        $.ajax({
          dataType: "json",
          url: get_events_url,
          success: getEarthquakeEventsJson
            });
      });

  </script>
{% endblock js_container %}
